.container-header {
    background-color:rgba(108, 181, 245, 0.914);
    background-image: url(../img/pattern.png);
    height: 180px;
}

.logo {
    height: 200px;
    width: 400px;
}

h1 {
    font-size: 60px;
}

.the-booleaner{
    color: rgb(108, 181, 245);
}

.colore-scritte{
    color: gray;
    font-weight: 700;
}

.descrizione-foto{
    font-size: small;
}

.testo-evidenziato {
    background-color: yellow;
}

.intestazione-tabella {
    background-color: rgb(93, 175, 234);
    color: white;
}

.riga1-3 {
    background-color: rgb(150, 221, 235);
}

.colonna1-2{
    width: 20%;
}

.colonna3 {
    width: 60%;
}